body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.checkout {
  display: flex;
  flex-direction: column;
}

#name {
  display: flex;
  flex-direction: row;
}

#csz {
  display: flex;
  flex-direction: row;
}

#cardInfo {
  display: flex;
  flex-direction: column;
}

#exp {
  display: flex;
  flex-direction: row;
}
