* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: #5d00e1;
}
h1 {
  text-align: center;
}
a {
  text-decoration: none;
  color: inherit;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bookNPic {
  display: flex;
  flex-direction: row;
}
.qty-adjust {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  align-self: center;
  padding-bottom: 1em;
}
.qty-input {
  width: 40px;
  margin-right: 15px;
}

.cartOptions {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-bottom: 21.28px;
}
#dropdown.dropdown-toggle.btn.btn-primary {
  background: white;
  color: #5d00e1;
  border: none;
  outline: none;
  outline: 0;
}

nav {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 95%; /* Full width */
  background: white;
}
.icon {
  padding: 1.5rem;
}
#route-container {
  margin-top: 7rem;
}

.book-title-div {
  height: 2rem;
}
#cartBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
}
.bookName {
  text-align: center;
}
.cart-card {
  border: 1px solid #5d00e1;
  border-radius: 25px;
  width: 75%;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover-art {
  width: 130px;
  height: 200px;
  border-radius: 3px;
  aspect-ratio: auto 130 / 200;
}

#nav-container {
  width: 100%;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.book-card {
  padding: 0;
  margin: 0;
  width: 15%;
  margin: 1rem;
}

#component-outlined {
  margin: 1px;
}

#orderSumm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #5d00e1;
  border-radius: 30px;
  width: 50%;
  margin: auto;
  padding: 10px 10px 20px 10px;
}

.orderItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #5d00e1;
  border-radius: 30px;
  width: 45%;
  margin: 1em;
}
.orderBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#allOrders {
  display: flex;
  flex-direction: column;
}
#orderHist {
  text-align: center;
}
.orderInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.orderP {
  margin: 1px;
}
.shipped {
  align-self: flex-start;
}
.bookBox {
  display: flex;
  flex-direction: column;
}
.orderTitle {
  margin: 1px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.orderList {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.bookPrice {
  margin-left: 2em;
}
.bookInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
}
.orderTitle::before {
  content: "";
  display: inline-block;
  height: 25px;
  width: 2em;
  background-image: url("https://www.flaticon.com/svg/vstatic/svg/167/167755.svg?token=exp=1613664679~hmac=977988c5cfbedf5b30d25b2610156904");
  background-size: contain;
  background-repeat: no-repeat;
}

#orderSumm > h3 {
  text-align: center;
}

.checkout {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}
.checkout > * {
  margin-right: 5px;
}

.inputForm {
  display: flex;
  flex-direction: row;
  margin: 1px;
  padding: 5px;
}

.cardForm {
  display: flex;
  flex-direction: column;
  margin: 1px;
  padding: 5px;
}

#formbox {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-left: 50px;
}

#formbutton {
  padding: 20px;
  padding-left: 200px;
  display: flex;
  align-items: center;
}

.bookList {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.bookList::before {
  content: "";
  display: inline-block;
  height: 25px;
  width: 2em;
  background-image: url("https://www.flaticon.com/svg/vstatic/svg/167/167755.svg?token=exp=1613664679~hmac=977988c5cfbedf5b30d25b2610156904");
  background-size: contain;
  background-repeat: no-repeat;
}

.inputBox {
  margin-right: 8px;
}

.inputAddy {
  width: 398px;
}
.inputCard {
  width: 398px;
  padding-bottom: 5px;
  margin-bottom: 1px;
}
.inputState {
  width: 65px;
}
.inputZip {
  width: 122px;
}
.orderAddy {
  margin: 5px;
}
.cartBottom {
  margin-top: 25px;
  text-align: center;
}

#guest-options {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#guestButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 15px;
}
#orderTotal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.checkButt {
  margin-bottom: 31px;
}
.removeButt {
  margin-top: 15px;
}
